# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# IDE
.idea/

# Environment variables
.env

# uv
uv.lock

# Generated data files
data/

# Generated documentation
docs/plots/
docs/*.pdf

# System files
.DS_Store
*~
